{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}
