@import './colors.scss';

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('./ncaa_ball.jpg') no-repeat center center fixed;
  opacity: 0.3;
  z-index: -1;
  background-size: 100%;
  left: 0;
}

.logo {
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.name {
  width: 100%;
  background: linear-gradient(
    to top,
    white 0 49%,
    rgba(0, 0, 0, 0.1) 0 51%,
    white 0
  );
  margin-bottom: 10px;

  h2 {
    background: white;
    display: inline-block;
    margin-left: 15px;
  }
}

.header-logo {
  height: 40px;
  margin-right: 5px;
  vertical-align: bottom;
}

.App {
  padding: 10px 40px;
  display: flex;
}

.page {
  background: white;
  width: 100%;
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 1200px;

  .refresh-icon {
    margin: 8px 25px;
  }

  .pull-right {
    float: right;
  }
  .center {
    text-align: center;
    margin: auto;
    display: block;
  }

  #bracket-dropdown {
    min-width: 150px;
  }

  .form {
    margin-top: 0;
    vertical-align: middle;
  }
  .about p {
    text-align: left;
  }

  .about a {
    margin-left: 5px;
    margin-right: 5px;
  }
  h6 {
    margin-top: 10px;
  }

  .half {
    width: 50%;
    display: inline-block;
  }

  .pool-details {
    width: 60vw;
    padding: 5px;
    border: 1px solid $secondary-color;
    background-color: rgba($secondary-highlight-color, 0.2);
    border-radius: 5px;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
  }

  p {
    text-align: center;
  }

  .bracket-page {
    margin: auto;
    padding-top: 10px;

    button {
      text-align: center;
      width: 100%;
    }
  }

  .create-section {
    margin: auto;
    text-align: center;
    padding: 10px;

    .input-group {
      padding: 5px;

      label {
        margin-right: 10px;
        width: 200px;
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
      }
    }

    button {
      margin-top: 10px;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-background {
  background-color: $primary-color;
}

.primary-hover:hover,
.selected {
  border-bottom: 2px solid $primary-highlight-color !important;
}

.secondary-background {
  background-color: $secondary-color;
  * {
    color: white !important;
    font-weight: bold;
  }
}

.secondary-color {
  color: $secondary-color;
}
