@import './colors.scss';

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('./blank-bracket.png') no-repeat center center fixed;
  opacity: 0.1;
  z-index: -1;
  background-size: 100%;
  left: 0;
}

.name {
  width: 100%;
  background: linear-gradient(
    to top,
    white 0 49%,
    rgba(0, 0, 0, 0.1) 0 51%,
    white 0
  );

  h2 {
    background: white;
    display: inline-block;
    margin-left: 15px;
  }
}

.App {
  padding: 10px 40px;
  padding-top: 100px;
  display: flex;
  min-height: 80vh;
}

.page {
  background: white;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  .pull-right {
    float: right;
  }
  .center {
    text-align:center;
    margin: auto;
    display:block;
  }

  a {
    text-decoration: none;
  }

  p {
    text-align: center;
  }

  .bracket-page {
    margin: auto;
    padding-top: 10px;

    button {
      text-align: center;
      width: 100%;
    }
  }

  .create-section {
    margin: auto;
    text-align: center;
    padding: 10px;

    .input-group {
      padding: 5px;

      label {
        margin-right: 10px;
        width: 200px;
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
      }
    }

    button {
      margin-top: 10px;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-background {
  background-color: $primary-color;
}

.primary-hover:hover,
.selected {
  border-bottom: 2px solid $primary-highlight-color !important;
}

.secondary-background {
  background-color: $secondary-color;
  * {
    color: white !important;
    font-weight: bold;
  }
}
