@import './colors.scss';

.tournament {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 25px;
  overflow: scroll;

  .round {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 7px;

    li Button {
      width: 85px;
      min-height: 28px;
      font-size: 0.55rem;
      padding: 5px;
    }

    .spacer {
      flex-grow: 2;

      &:first-child,
      &:last-child {
        flex-grow: 1;
      }
    }
  }

  ul.round.round-5 {
    li.spacer {
      width: 50%;
      border-right: 1px solid $bracket-blue;
      flex-grow: 0;
      height: 100px;

      &:first-child,
      &:last-child {
        border: none;
        flex-grow: 2;
      }
    }

    li.final Button {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  .left.spacer.odd {
    border-right: 1px solid $bracket-blue;
  }

  .right.spacer.odd {
    border-left: 1px solid $bracket-blue;
  }

  .round-1,
  .round-2,
  .round-3,
  .round-4,
  .round-5 {
    .left .dash {
      width: 15px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-left: -15px;
      background-color: $bracket-blue;
    }
  }

  .round-1,
  .round-2,
  .round-3,
  .round-4,
  .round-5 {
    .right .dash {
      width: 15px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: -15px;
      background-color: $bracket-blue;
    }
  }
}
